.c1{
  width: 100%;
  background-image: url('back1.jpeg');
  background-position: center;
  background-size: cover;
  height: 95vh;
  padding: 20px;
}

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}


nav ul{
  padding:16px;
  margin:0px;
  background:black;
  width:100%;
  
  float: left;
  
  margin-right: 20px;

}
nav ul li{
  display: inline-block;
  line-height:0;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  margin:13px;
  padding: 5px;
  font-size: 17px;
  border-radius: 5px;
  border-color: white;  
  text-transform: uppercase;
}

.c3{
    text-align: center;
    
    padding: 44px;
    width: 438px;
    height: 185px;
    background: darkcyan;
    align-items: center;
    margin: 207px;
    margin-top: 23px;
}

.c5{
    padding:11px;
    width:188px;
    height:10px;
    
}
.c6{
    padding:11px;
    width:188px;
    height:10px;
    
}
.c7{
    text-align: center;
    padding: 210;
}
.c8{
    text-align: center;
    padding: 44;
}
.active,a:hover{
  background:rgb(248, 109, 58);
  transition: .3s;
}
.c4{
    background-color: cyan;
    padding:10px;
}
h3{
    padding:10px;
}
h2{
    padding: 5px;
    margin: 1px;
    color: crimson;
}

.c4:hover{
    background-color: red;
}
table{
    text-align: center;
    background: cornsilk;
}
.t{
    
}
.t2{
    
}