.c1{
  width: 100%;
  background-image: url('back1.jpeg');
  background-position: center;
  background-size: cover;
  height: 100vh;
  padding: 20px;
}

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}


nav ul{
  padding:29px;
  margin:0px;
  background:black;
  width:100%;
  
  float: left;
  
  margin-right: 20px;

}
nav ul li{
  display: inline-block;
  line-height:0;
  margin: 0 5px;
}
nav ul li a{
  color: black;
  margin:13px;
  padding: 5px;
  font-size: 17px;
  border-radius: 5px;
  border-color: white;  
  text-transform: uppercase;
}
a{
  background: cornsilk;
}

a.active,a:hover{
  background:rgb(248, 109, 58);
  transition: .5s;
}
h2{
  font-size: 30px;
  text-align: center;
  color: rgb(216, 36, 36)}
table{
    text-align: center;
    background: cornsilk;
}
 